body {
  padding-top: 40px;
  padding-bottom: 40px;
  background:url('/static/img/gray_bg.jpg') repeat top left;
}
/*.nav, p {
  font-family: Oldenburg, georgia, sans-serif
}*/
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 40px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.container {
  margin:0 auto;
}
.wrapper {
  background-color:#efefef;
  padding:0 20px;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.13);
}
.container.wrapper {

}
.sidebar {
  margin:20px 0;
}
.error {
  color:#cc0000;
  display:block;
}

.block.sidebar {
  border:1px solid #ccc;
  border-radius: 5px 5px 0 0;
  background-color:#fff;
}
.block.sidebar .header p{
    padding:5px 10px;
    background-color: #0088CC;
}

.block.sidebar p.heading {
  font-size:14px;
  font-weight:bold;
  color:#fff;
}

.sidebar .alert {
    margin:10px;
}

.product_box {
  box-shadow:0 0 5px #DDDDDD;
}

