body {
  padding-top: 40px;
  padding-bottom: 40px;
  background:url('/static/img/gray_bg.jpg') repeat top left;
}
h1,h2,h3,.navbar {
  font-family: 'Oswald', sans-serif;
}
a:hover,a:active{text-decoration:none;}
.jumbotron{
  background:url('/static/img/circles.jpg') repeat top left;
  width:1090px;
  height:340px;
  -moz-border-radius: 20px;
  -webkit-border: 20px;
  border-radius:20px;
  padding:20px;
  color:#fff;
  position:relative;
}
.jumbotron #jtext {
  position:absolute;
  top:0;
  right:0;
  height:340px;
  width:350px;
  padding:20px;
  background-color:#000;
  opacity:.8;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left:5px solid #00CED1;
}
.jumbotron .btn-success{
  position:absolute;
  bottom:30px;
  right:40px;
}

.home .span4  {
  color:#666;
  -moz-border-radius: 10px;
  -webkit-border: 10px;
  border-radius:10px;
}
.navbar-inverse .navbar-inner {
  border-bottom: 6px solid #00CED1;
}
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 40px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.container {
  margin:0 auto;
}
.wrapper {
  background-color:#fff;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.13);
}
.container.wrapper .span12 {
  padding:20px;
}
.container.wrapper .span8{
  padding:10px 0 10px 20px;
  background-color:#fff;
}
.container.wrapper .span4{
  padding:10px 20px;
  background-color:#eee;
  margin-top:-1px;
}
.sidebar {
  margin:20px 0;
}
.error {
  color:#cc0000;
  display:block;
}

.block.sidebar {
  border:1px solid #ccc;
  border-radius: 5px 5px 0 0;
  background-color:#fff;

}
.block.sidebar .header p{
    padding:5px 10px;
    background:url('/static/img/dark_exa.png') repeat top left;
}

.block.sidebar p.heading {
  font-size:14px;
  font-weight:bold;
  color:#fff;
}

.sidebar .alert {
    margin:10px;
}

.product_box {
  box-shadow:0 0 5px #DDDDDD;
}
.product_module {
  padding:10px 10px 0 10px;
  margin:10px 15px 10px 0;
  width:150px;
  height:250px;
  display:block;
  overflow:hidden;
  float:left;
  background-color:#fff;
  box-shadow:0 0 2px #DDDDDD;
  border:1px solid #ccc;
  position:relative;
  border-radius:8px;
}
.product_module.small:hover {
  opacity:1;
}
/*.product_module.small:nth-child(5n){
  margin-right:0;
  border:1px solid pink;
}*/
.product_module:hover {
  opacity:.7;
}

.product_title {
  position:absolute;
  background:url('/static/img/dark_exa.png');
  bottom:-10px;
  left:0;
  width:150px;
  height:45px;
  padding:10px 10px 12px;
  color:#eee;
  font-size:13px;
  line-height:18px;
  text-overflow: ellipsis;
  overflow:hidden;
  border-top:1px solid #00CED1;
}
.product_module .overdue {
  position:absolute;
  top:12px;
  right:12px;
}
.short_text{
  width:150px;
  height:20px;
  padding-bottom:2px;
  overflow:hidden;
  display:block;
}
.flag{
  width:56px;
  height:56px;
  position:absolute;
  top:0;
  right:0;
  background:url('/static/img/add_flag.png');
}
.img_box {
  height:150px;
}
.img_box img{
  max-height:150px;
  width:auto;
  margin:0 auto;
}
.borrow_btn {
  position:absolute;
  top:150px;
  left:45px;
}
#spinner {
  width: 24px;
  height:24px;
  padding-left: 20px;
  background:url('/static/img/spinner_arrows.gif') no-repeat top left #000;
  position:absolute;
  left:50%;
  top:0;
}
.sms_box {
  display:block;
  position:relative;
  float:left;
}
