{% extends "layout.html" %}
{% block body %}

<form method = "POST" action = "/signup" name = "form-signin">
	<h3 class="form-signin-heading">Can I Borrow Your {{ library_item.product.name }}?</h3>
	<img src='{{ library_item.product.default_photo }}' />
<!--   	{{form.hidden_tag()}}
  	{{form.borrower_id()}}
  	{{form.lender_id()}}
  	{{form.product_id()}} -->
  	{{form.start_date}}
  	{{form.end_date}}

  	<input type="submit" class="btn btn-large btn-primary" value="Submit Request">
</form>

{% endblock %}
