{% extends "layout.html" %}
{% block body %}

<form method="POST" action="/borrow/{{ library_item.product_id }}/{{ user_id }}" name="borrow_form" class="form-signin">
<h3 class="form-signin-heading">Can I Borrow Your {{ library_item.product.name }}?</h3>
<img src='{{ library_item.product.default_photo }}' />

	{{form.hidden_tag()}}
	{{form.product_id()}}
	{{form.lender_id()}}
	{{form.user_id()}}

 	<label for="start_date">Start Date</label>
  	{{form.start_date(class="datepicker")}}
  	{% for error in form.errors.start_date %}
  	<span style = "color: red;">[{{error}}]</span>
  	{% endfor %}

  	<label for="end_date">Start Date</label>
  	{{form.end_date(class="datepicker")}}
  	{% for error in form.errors.end_date %}
  	<span style = "color: red;">[{{error}}]</span>
  	{% endfor %}

   <input type="submit" class="btn btn-large btn-primary" value="Submit Request">
</form>

{% endblock %}
