{% extends "layout.html" %}
{% block body %}
  <div class="row-fluid">

  <div class="span12">
<!-- Jumbotron -->
      <div class="jumbotron">
      <div id="jtext"><h1>Hey there,</h1>
        <p class="lead"><strong>Do you still have my...?</strong><br /><strong>Can I borrow your...?</strong></p>
        <p class="lead">Make it easy to borrow or lend your things to friends and family. Keep track of your transactions and send reminders to get those items back.</p>
      </div>
        <a class="btn btn-large btn-success" href="/sign_up">Get started today</a>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row-fluid home">
        <div class="span4">
          <h2>Need Something?<br />Borrow It!</h2>
          
        </div>
        <div class="span4">
          <h2>Have Something?<br />Lend it!</h2>
          
       </div>
        <div class="span4">
          <h2>Most Importantly...<br />Get Your Stuff Back!</h2>
          
        </div>
      </div>
      <hr>

</div>
</div>
	
{% endblock %}