<!DOCTYPE html>
<!-- This is our main layout template for all pages-->
<html>
    <head>
        <title>Borrow It Back</title>
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
        <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/main.css" type="text/css">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

</head>
<body>

    </head>
    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Borrow It Back</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/sign_up">Sign up</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/logout">Logout</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/users">Visit Libraries</a></li>
            </ul>

          </div><!--/.nav-collapse -->
            {% if user_id %}
            <span style="float:right;color:#fff">Hello,  {{ current_user.fname }}!</span>
            {% endif %}
        </div>
      </div>
    </div>

        <div class="container wrapper">
  
            {% block body %} {% endblock %}    
         
        </div>


        </div>

          <!-- Placed at the end of the document so the pages load faster -->
          <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
          <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
          <script src="/static/js/bootstrap.js"></script>

          <script>
          $(function() {
            $(".datepicker" ).datepicker({dateFormat: 'd-M-yy'});

            $('#query').click(function(e){
              var page_url = $(location).attr('href');
              var urlsplit = page_url.split("/");
              var url_len = urlsplit.length;
              var referrer = urlsplit[url_len - 1];
              $("#referrer").val(referrer);
              console.log(referrer);
            })

            $('.product_module').click(function(e){
              var user_id = $('#user_id').html()
              var name = $('.product_title',this).html();
              var asin = $('.asin',this).html();
              var default_photo = $('.product_img',this).attr('src');

              console.log(user_id,name,asin,default_photo);

              var form_data = {
                'csrf_token': $('#csrf_token').val(),
                'user_id': $('#user_id').html(),
                'name': $('.product_title',this).html(),
                'asin': $('.asin',this).html(),
                'category_id': '',
                'default_photo': $('.product_img',this).attr('src'),
                'custom_photo': ''
              };

              console.log(form_data[0]);

                $.ajax({
                    type: "POST",
                    url: '/add_product',
                    dataType: "json",
                    data: form_data,
                    success: function(data) { 
                      status = data;
                      $(this).remove()
                  }
                });

            })
            
          });
          </script>


    <script>
    $(function() {
      $(".send_sms").click(function(e) {
        e.preventDefault();
        
        sms_url = $(this).attr('href');
        console.log(sms_url);
        $(this).css({ opacity: 0.5 });
        $(this).parent().append('<span id="spinner"></span>');
        $.ajax({
          type: "POST",
          url: sms_url,
          dataType: "json",
          success: function(data) { 
            status = data;
            span_id = "sms-"+data.history_id;
            console.log(span_id);
            $("."+span_id).html(data.msg);
          }
        });

      });
    });


    </script>

    </body>
</html>