{% extends "layout.html" %}
{% block body %}

<form method="POST" action="/login" name="login_form" class="form-signin">

<h3 class="form-signin-heading">Login</h3>
  
  {{form.hidden_tag()}}

  <label for="email">Email</label>
  {{form.email(size = 30)}}
  {% for error in form.errors.email %}
  <span style = "color: red;">[{{error}}]</span>
  {% endfor %}

  <label for="password">Password</label>
  {{form.password(size = 30)}}
  {% for error in form.errors.password %}
  <span style = "color: red;">[{{error}}]</span>
  {% endfor %}

   <input type="submit" class="btn btn-large btn-primary" value="Login">
</form>
	
{% endblock %}