<div class="block sidebar">
	<div class="header">
		<p class="heading">Notifications</p>
	</div>

	{% for notification in notifications %}
		<div class="alert clearfix">
			<p>
				<strong>{{ notification.borrower.fname}} wants to borrow your {{ notification.product.name}}</strong><br />
				dates: {% if notification.date_wanted is not none %} {{ notification.date_wanted.strftime('%x') }} - {% endif %}   {% if notification.date_returned_est is not none %}{{ notification.date_returned_est.strftime('%x') }}{% endif %}<br />
				Return Rate: 100%
				{% for rate in notification.borrower.return_rate %}
				{{ rate }}
				{% endfor %}
			</p>
				<a href="{{ url_for('accept_request', history_id=notification.id, user_id=user_id) }}" class="btn btn-mini btn-info">Accept Request</a>
			
		</div>
	
	
	{% endfor %}
	</div>

<div class="block sidebar">
	<div class="header">
		<p class="heading">Items On Loan</p>
	</div>

	{% for item in checked_out %}

		<div class="alert clearfix">
			<p>
				<strong>{{ item.borrower.fname }} has your {{ item.product.name}}</strong><br />
				Borrowed: 
					{% if item.date_borrowed is not none %} 
						{{ item.date_borrowed.strftime('%x') }} 
					{% endif %}<br />

				Returning on: 
					{% if item.date_returned_est is not none %} 
						{{ item.date_returned_est.strftime('%x') }} 
						{% if item.date_returned_est.strftime('%x') < current_date.strftime('%x')  %}
						<span class="badge badge-important">Overdue</span> <br />


						 
            <span class="sms-{{item.id}} sms_box">
            	<a href="{{ url_for('send_sms', history_id=item.id) }}" class="send_sms"><span class=" icon-comment"></span> Send SMS Reminder</a>
            </span>
						{% endif %}<br />
					{% endif %}

			</p>
				<a href="{{ url_for('checkin_item', history_id=item.id, user_id=user_id) }}" class="btn btn-mini btn-success">Check-In Item</a>
		</div>
	
	
	{% endfor %}

	</div>







