{% extends "layout.html" %}
{% block body %}

<h1>User Request Notifications</h1>

{% for notification in notifications %}

<p>
product_id: {{ notification.product_id}} <br />
product name: {{ notification.product.name}} <br />

lender id: {{ notification.lender_id}} <br />
borrower name: {{ notification.borrower.fname}} <br />
date wanted: {{ notification.date_wanted}} <br />
planned return: {{ notification.date_returned_est}} <br />
<a href="">Accept Request</a>
</p>
{% endfor %}

{% endblock %}
