{% extends "dashboard.html" %}
{% block main_content %}

<!-- CURRENT LOGGED IN USER -->

<!-- CURRENT LOGGED IN USER -->
<div id="announcements" class="clearfix">
	<h1>{{ user.fname }}'s Dashboard</h1>
	<hr />
	<h2>You've borrowed these items</h2>
{% for item in borrowed %}
	<div class="product_module small">
		<p class="product_title">{{ item.lender.fname }}'s {{ item.product.name }}</p>
			<div class="img_box"><img src='{{ item.product.default_photo }}' /></div>
			{% if item.date_returned_est %}
			Due: {{ item.date_returned_est.strftime('%x')}}

			{% if item.date_returned_est.strftime('%x') < current_date.strftime('%x')  %}
				<span class="badge badge-important overdue">Overdue</span> <br />
			{% endif %}
			{% endif %}
	
	</div>
{% endfor %}
</div>

	<hr />

<h2>{{ user.fname }}'s Lending Library <small>({{ user.libraries|length }} products)</small></h2>
<p><a href="/add_product/new"><span class="icon-plus-sign"></span> Add Product</a></p>

	<table class="table table-striped">
	<tr>
		<th width=90%>Product</th>
		<th width=10%>Status</th>
	</tr>
	{% for product in user.libraries %}


	<tr>
		<td>{{ product.product_desc }}</td>
		<td>
			{% if product.status == 1 %}
			<span class="label label-success">Checked In</span>
				{% else %}
			<span class="label label-important">On Loan</span>
			{% endif %}</td>
	</tr>


{% endfor %}
</table>


{% block notifications %} {% endblock %} 

{% endblock %}
     
    

     	
     		
        	
    		</a>
     	</p>
  	