{% extends "layout.html" %}
{% block body %}

<h1>Users</h1>
<h2>Complete User List</h2>

{% for user in users %}


<h3>User {{ user.id }}: {{ user.fname }}, has {{ user.libraries|length }} products</h3>

{% for product in user.libraries %}
<p>Product descprition: {{ product.product_desc }}</p>
<img src='{{ product.product.default_photo }}' />

<!-- change this to borrow/lend based on user -->
<p><a href='{{ url_for("borrow", product_id=product.id, lender_id=user.id ) }}'>Borrow</a></p>

{% endfor %}

{% endfor %}

{% endblock %}
