{% extends "dashboard.html" %}
{% block body %}
<!-- ALL USERS -->
<div class="row-fluid">

	<div class="span12">

	<h1>Lending Libraries</h1>

	{% for user in users %}

	<h2>{{ user.fname }}'s Lending Library <small>{{ user.libraries|length }} products</small></h2>
		<div class="clearfix">
		
		{% for product in user.libraries %}
		<div class="product_module">
			<p class="product_title"><span class="short_text">{{ product.product_desc }}</span>
				<a href='{{ url_for("borrow", product_id=product.id, lender_id=user.id ) }}' class="btn btn-small btn-primary">Borrow</a></p>
				<div class="img_box"><img src='{{ product.product.default_photo }}' /></div>
				{% if product.status == 1 %}
				<span class="label label-success">Available Now</span>
					{% else %}
				<span class="label label-important">On Loan</span>
				{% endif %}

				<br />
				
			
		</div>
		{% endfor %}
		</div>
	{% endfor %}
</div>
</div>

{% endblock %}

