{% extends "dashboard.html" %}
{% block main_content %}

<h1>Users</h1>
<h2>Complete User List</h2>

<!-- {% for user in users %}

<h3>User {{ user.id }}: {{ user.fname }}, has {{ user.libraries|length }} products</h3>
<table class="table">
	{% for product in user.libraries %}
	<tr>
		<td width=100><img src='{{ product.product.default_photo }}'/></td>
		<td width=450><p>{{ product.product_desc }}</p></td>
		<td>
		<p><a href='{{ url_for("borrow", product_id=product.id, lender_id=user.id ) }}' class="btn btn-info">Borrow</a></p>
		</td>
	</tr>
	{% endfor %}
</table>
{% endfor %} -->

{% for user in users %}

<h3>User {{ user.id }}: {{ user.fname }}, has {{ user.libraries|length }} products</h3>
	<div class="clearfix">
	
	{% for product in user.libraries %}
	<div style="background-color:#fff;padding:10px;width:150px;height:250px;overflow:hidden;float:left;display:block;margin:10px;box-shadow:0 0 5px #DDDDDD" class="clearfix">
		<p>
			<img src='{{ product.product.default_photo }}' /><br />
			{{ product.product_desc }}<br /> 
			Status: 
			{% if product.status == 1 %}
			<span class="label label-success">Available Now</span>
				{% else %}
			<span class="label label-important">On Loan</span>
			{% endif %}

			<br />
			<a href='{{ url_for("borrow", product_id=product.id, lender_id=user.id ) }}' class="btn btn-small btn-primary">Borrow</a>
		</p>
	</div>
	{% endfor %}

	
	</div>
{% endfor %}

{% block notifications %} {% endblock %} 

{% endblock %}
     
    

     	
     		
        	
    		</a>
     	</p>
  	